.currentmonth {
    color: blue;
    text-align: center;
}

.currentday {
    border: 2px solid black;
    color: red;
    text-align: center;
    font-weight: bold;
    /* background-color: whitesmoke; */
}

.weekdays {
    color: black;
}

table.calendar {
    margin: 1em 1em 2em 1em;
}

table.calendar td,
table.calendar th {
    padding: 0.5em;
}

table.calendar {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}